body {
  /* font-family: 'Inconsolata', monospace; */
  font-family: 'Overpass Mono', monospace;
  margin: auto;
}

input[type='text'],
input[type='number'] {
  box-sizing: border-box;
  padding: 32px;
  font-size: 32px;
  width: 100%;
  border: 3px solid #d4d4d4;
}

input[type='button'], button {
  background: #52eaa4;
  border: none;
  border-radius: 4px;
  padding: 16px;
  color: #fff;
  cursor: pointer;
}

